body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}

#background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2))
    translateY(calc((100% - 100vh) / 2));
}

.wrapper {
  gap: 20px;
  display: flex;
  position: relative;
  flex-direction: column;

  z-index: 99;
  width: 100%;
  margin: auto;
  padding: 20px;
  max-width: 460px;
  border-radius: 12px;
  background-color: white;

  overflow: auto;
  height: fit-content;
  max-height: calc(100vh - 90px);

  h1,
  h4 {
    text-align: center;
    margin: 0;
  }

  h4 {
    display: none;
  }

  header {
    margin: 0 auto;
  }

  .container {
    gap: 12px;
    display: flex;
    flex-direction: column;
  }

  .buttons {
    gap: 8px;
    display: flex;

    button {
      width: 100%;
      height: 46px;
    }
  }

  img {
    display: none;
    width: 100%;
  }

  #noVideo,
  #yesVideo {
    display: none;
    min-width: 100%;
    min-height: 100%;
  }
}

.wrapper::-webkit-scrollbar {
  width: 0;
}
